In [50]:
# Load the necessary libraries
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import logging

In [52]:
# Setup logger
def setup_logger(name, log_file, level=logging.INFO):
    """Function to setup a logger."""
    formatter = logging.Formatter('%(asctime)s %(levelname)s %(message)s')

    # Create the log directory if it does not exist
    if not os.path.exists(os.path.dirname(log_file)):
        os.makedirs(os.path.dirname(log_file))

    handler = logging.FileHandler(log_file)        
    handler.setFormatter(formatter)

    logger = logging.getLogger(name)
    logger.setLevel(level)
    logger.addHandler(handler)

    return logger

In [53]:
# Setup logger
logger = setup_logger('eda_logger', '../logs/eda.log')

In [54]:
# Load data
train_df = pd.read_csv('/home/ted/Desktop/DEV/store-sales-prediction/data/raw/train.csv',low_memory=False)
test_df = pd.read_csv('/home/ted/Desktop/DEV/store-sales-prediction/data/raw/test.csv',low_memory=False)
store_df = pd.read_csv('/home/ted/Desktop/DEV/store-sales-prediction/data/raw/store.csv',low_memory=False)

In [55]:
# Log the data loading
logger.info('Training, test, and store data loaded.')

In [56]:
train_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [57]:
test_df

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0
41084,41085,1112,6,2015-08-01,1.0,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1

In [58]:
store_df

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [59]:
#Cleaning and Preparating the train and test data for preprocessing

In [60]:
# Merge train data with store data
train_data = train_df.merge(store_df, on='Store', how='left')
train_data.drop(["Customers", "PromoInterval"], axis=1, inplace=True)
logger.info('Training data merged with store data and columns Customers, PromoInterval dropped.')

# Merge test data with store data
test_data = test_df.merge(store_df, on='Store', how='left')
test_data.drop(["Id", "PromoInterval"], axis=1, inplace=True)
logger.info('Testing data merged with store data and columns Id, PromoInterval dropped.')

In [61]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 16 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Open                       1017209 non-null  int64
 5   Promo                      1017209 non-null  int64
 6   StateHoliday               1017209 non-null  object
 7   SchoolHoliday              1017209 non-null  int64
 8   StoreType                  1017209 non-null  object
 9   Assortment                 1017209 non-null  object
 10  CompetitionDistance        1014567 non-null  float64
 11  CompetitionOpenSinceMonth  693861 non-null   float64
 12  CompetitionOpenSinceYear   693861 non-null   float64
 13  Promo2                     1017209 non-null  int64
 14  Promo2SinceWeek            509178 non-null   float64
 15  Promo2SinceYear            509178 non-null   float64
dtypes: float64(5), int64(7), object(4)
memory usage: 124.2+ MB

In [62]:
train_data.describe()

,Store,DayOfWeek,Sales,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.014567e+06,693861.000000,693861.000000,1.017209e+06,509178.000000,509178.000000
mean,5.584297e+02,3.998341e+00,5.773819e+03,8.301067e-01,3.815145e-01,1.786467e-01,5.430086e+03,7.222866,2008.690228,5.005638e-01,23.269093,2011.752774
std,3.219087e+02,1.997391e+00,3.849926e+03,3.755392e-01,4.857586e-01,3.830564e-01,7.715324e+03,3.211832,5.992644,4.999999e-01,14.095973,1.662870
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+01,1.000000,1900.000000,0.000000e+00,1.000000,2009.000000
25%,2.800000e+02,2.000000e+00,3.727000e+03,1.000000e+00,0.000000e+00,0.000000e+00,7.100000e+02,4.000000,2006.000000,0.000000e+00,13.000000,2011.000000
50%,5.580000e+02,4.000000e+00,5.744000e+03,1.000000e+00,0.000000e+00,0.000000e+00,2.330000e+03,8.000000,2010.000000,1.000000e+00,22.000000,2012.000000
75%,8.380000e+02,6.000000e+00,7.856000e+03,1.000000e+00,1.000000e+00,0.000000e+00,6.890000e+03,10.000000,2013.000000,1.000000e+00,37.000000,2013.000000
max,1.115000e+03,7.000000e+00,4.155100e+04,1.000000e+00,1.000000e+00,1.000000e+00,7.586000e+04,12.000000,2015.000000,1.000000e+00,50.000000,2015.000000

In [63]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      41088 non-null  int64
 1   DayOfWeek                  41088 non-null  int64
 2   Date                       41088 non-null  object
 3   Open                       41077 non-null  float64
 4   Promo                      41088 non-null  int64
 5   StateHoliday               41088 non-null  object
 6   SchoolHoliday              41088 non-null  int64
 7   StoreType                  41088 non-null  object
 8   Assortment                 41088 non-null  object
 9   CompetitionDistance        40992 non-null  float64
 10  CompetitionOpenSinceMonth  25872 non-null  float64
 11  CompetitionOpenSinceYear   25872 non-null  float64
 12  Promo2                     41088 non-null  int64
 13  Promo2SinceWeek            23856 non-null  float64
 14  Promo2SinceYear            23856 non-null  float64
dtypes: float64(6), int64(5), object(4)
memory usage: 4.7+ MB

In [64]:
test_data.describe()

,Store,DayOfWeek,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
count,41088.000000,41088.000000,41077.000000,41088.000000,41088.000000,40992.000000,25872.000000,25872.000000,41088.000000,23856.000000,23856.000000
mean,555.899533,3.979167,0.854322,0.395833,0.443487,5088.583138,7.035250,2008.641929,0.580607,24.426559,2011.820926
std,320.274496,2.015481,0.352787,0.489035,0.496802,7225.487467,3.143015,6.862400,0.493466,14.161312,1.692166
min,1.000000,1.000000,0.000000,0.000000,0.000000,20.000000,1.000000,1900.000000,0.000000,1.000000,2009.000000
25%,279.750000,2.000000,1.000000,0.000000,0.000000,720.000000,4.000000,2006.000000,0.000000,13.000000,2011.000000
50%,553.500000,4.000000,1.000000,0.000000,0.000000,2425.000000,7.000000,2010.000000,1.000000,22.000000,2012.000000
75%,832.250000,6.000000,1.000000,1.000000,1.000000,6480.000000,9.000000,2012.000000,1.000000,37.000000,2013.000000
max,1115.000000,7.000000,1.000000,1.000000,1.000000,75860.000000,12.000000,2015.000000,1.000000,49.000000,2015.000000

In [65]:
#Preprocessing training data
# Identify categorical columns
cat_cols = [col for col in train_data.columns if train_data[col].dtype == "object"]
logger.info(f'Categorical columns: {cat_cols}')
cat_cols

['Date', 'StateHoliday', 'StoreType', 'Assortment']

In [66]:
# Display unique values and counts for categorical columns
for col in cat_cols:
    logger.info(f"{col} data has {train_data[col].nunique()} unique values.")
    logger.info(f"{col} data sample values: \n{train_data[col].value_counts()}\n")

In [67]:
# Drop rows with missing values
train_data.dropna(inplace=True)
logger.info('Rows with missing values dropped.')

In [68]:
# Extract Year and Month from Date
train_data[['Year', 'Month', 'Day']] = train_data['Date'].str.split("-", expand=True)
train_data.drop(['Day', 'Date'], axis=1, inplace=True)
train_data['Year'] = train_data['Year'].astype('float')
train_data['Month'] = train_data['Month'].astype('float')
logger.info('Date column split into Year, Month, and Day.')

train_data.head()

,Store,DayOfWeek,Sales,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,Year,Month
1,2,5,6064,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,2015.0,7.0
2,3,5,8314,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,2015.0,7.0
10,11,5,10457,1,1,0,1,a,c,960.0,11.0,2011.0,1,1.0,2012.0,2015.0,7.0
13,14,5,6544,1,1,0,1,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,2015.0,7.0
14,15,5,9191,1,1,0,1,d,c,4110.0,3.0,2010.0,1,14.0,2011.0,2015.0,7.0

In [69]:
# Relocate the target column 'Sales' to the end
sales = train_data.pop('Sales')
train_data['Sales'] = sales
logger.info('Target column Sales relocated to the end.')
train_data

,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,Year,Month,Sales
1,2,5,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,2015.0,7.0,6064
2,3,5,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,2015.0,7.0,8314
10,11,5,1,1,0,1,a,c,960.0,11.0,2011.0,1,1.0,2012.0,2015.0,7.0,10457
13,14,5,1,1,0,1,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,2015.0,7.0,6544
14,15,5,1,1,0,1,d,c,4110.0,3.0,2010.0,1,14.0,2011.0,2015.0,7.0,9191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017198,1105,2,0,0,a,1,c,c,330.0,11.0,2008.0,1,5.0,2013.0,2013.0,1.0,0
1017199,1106,2,0,0,a,1,a,c,5330.0,9.0,2011.0,1,31.0,2013.0,2013.0,1.0,0
1017200,1107,2,0,0,a,1,a,a,1400.0,6.0,2012.0,1,13.0,2010.0,2013.0,1.0,0
1017202,1109,2,0,0,a,1,c,a,3490.0,4.0,2011.0,1,22.0,2012.0,2013.0,1.0,0
1017204,1111,2,0,0,a,1,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,2013.0,1.0,0

In [70]:
# Encode categorical variables
train_data['StateHoliday'].replace({'0': 0, 'a': 1, 'b': 2, 'c': 3}, inplace=True)
train_data['StoreType'] = train_data['StoreType'].map({'a': 1, 'b': 2, 'c': 3, 'd': 4})
train_data['Assortment'] = train_data['Assortment'].map({'a': 1, 'b': 2, 'c': 3})
logger.info('Categorical variables encoded.')

/tmp/ipykernel_53576/1590424274.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['StateHoliday'].replace({'0': 0, 'a': 1, 'b': 2, 'c': 3}, inplace=True)
/tmp/ipykernel_53576/1590424274.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_data['StateHoliday'].replace({'0': 0, 'a': 1, 'b': 2, 'c': 3}, inplace=True)

In [71]:
# Display the preprocessed data
logger.info(f'Preprocessed data sample: \n{train_data.head()}')
print(train_data.head())

    Store  DayOfWeek  Open  Promo  StateHoliday  SchoolHoliday  StoreType  \
1       2          5     1      1             0              1          1
2       3          5     1      1             0              1          1
10     11          5     1      1             0              1          1
13     14          5     1      1             0              1          1
14     15          5     1      1             0              1          4

    Assortment  CompetitionDistance  CompetitionOpenSinceMonth  \
1            1                570.0                       11.0
2            1              14130.0                       12.0
10           3                960.0                       11.0
13           1               1300.0                        3.0
14           3               4110.0                        3.0

    CompetitionOpenSinceYear  Promo2  Promo2SinceWeek  Promo2SinceYear  \
1                     2007.0       1             13.0           2010.0
2                     2006.0       1             14.0           2011.0
10                    2011.0       1              1.0           2012.0
13                    2014.0       1             40.0           2011.0
14                    2010.0       1             14.0           2011.0

      Year  Month  Sales
1   2015.0    7.0   6064
2   2015.0    7.0   8314
10  2015.0    7.0  10457
13  2015.0    7.0   6544
14  2015.0    7.0   9191